deprecated/
build/
dist/
*.spec
test.py
.DS_Store
.vscode/
__pycache__/
.env
.venv/
venv/
src/__pycache__/
UI/
.pytest_cache/
benchmark/*/
!benchmark/results/
benchmark/benchmark_pivot.csv
nnue/data/
nnue/models/
syzygy/
