# Ignore files and directories
#file.txt
deprecated/
build/
dist/
*.spec
test.py
.DS_Store
.vscode/
__pycache__/
venv/
src/__pycache__/
UI/
# Ignore all files with a specific extension
#*.log

# Ignore files in a specific directory
#directory/*.txt

# Ignore files with a specific name pattern
#**/pattern*.txt

# Ignore files in a specific directory and its subdirectories
#directory/**

# Ignore a specific file in a specific directory
#directory/file.txt
